/* write your override styles here */

#wall .tag-1{
  display: none;
}

html body div#wall #tag-2{
  display: none;
}

html body div#wall #tag-3{
  display: none;
}

#wall .parent #tag-4{
  display: none;
}

#wall .parent #tag-5.'slick wicked'{
  display: none;
}

html body div#wall div.parent #tag-7 .slick{
  display: none;
}

html body div#wall .parent #tag-7 .slick{
  display: none;
}
